body {
    background-color: #B999BE;
  }

.background-container {
position: absolute; /* Asegura que el contenedor de fondo esté debajo de la imagen */
z-index: -2;
}

.fullscreen-image {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('images/borde.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain; /* Hace que la imagen cubra toda la pantalla */
z-index: 1;
}

.titulo{
position: absolute; /* Posicionamiento absoluto */
top: 35%; /* Alinea la parte superior del título al centro verticalmente */
left: 21%; /* Ajusta la posición desde el borde izquierdo */
transform: translateY(-50%); /* Centra verticalmente el título */
width: 35%; /* Ancho de la imagen */
}

.foto1{
position: absolute; /* Posicionamiento absoluto */
top: 55%; /* Alinea la parte superior del título al centro verticalmente */
left: 60%; /* Ajusta la posición desde el borde izquierdo */
transform: translateY(-50%); /* Centra verticalmente el título */
width: 25%; /* Ancho de la imagen */
}

.texto1{
position: absolute; /* Posicionamiento absoluto */
top: 60%; /* Alinea la parte superior del título al centro verticalmente */
left: 21.5%; /* Ajusta la posición desde el borde izquierdo */
transform: translateY(-50%); /* Centra verticalmente el título */
width: 34%; /* Ancho de la imagen */
}

.foto2{
position: absolute; /* Posicionamiento absoluto */
top: 145%; /* Alinea la parte superior del título al centro verticalmente */
left: 23%; /* Ajusta la posición desde el borde izquierdo */
transform: translateY(-50%); /* Centra verticalmente el título */
width: 24%; /* Ancho de la imagen */
padding-bottom: 12%;
}

.texto2{
position: absolute; /* Posicionamiento absoluto */
top: 145%; /* Alinea la parte superior del título al centro verticalmente */
left: 53%; /* Ajusta la posición desde el borde izquierdo */
transform: translateY(-50%); /* Centra verticalmente el título */
width: 30%; /* Ancho de la imagen */
padding-bottom: 12%; 
}

.home-button {
position: fixed;
bottom: 2%; /* Ajusta la posición del botón desde el borde inferior */
right: 43%; /* Ajusta la posición del botón desde el borde derecho */
padding: 10px 20px; /* Añade relleno dentro del botón */
background-color: #866e89; /* Color de fondo del botón */
color: white; /* Color del texto del botón */
border: none; /* Sin borde */
border-radius: 10px; /* Bordes redondeados */
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
z-index: 3; /* Asegura que el botón esté sobre fullscreen-image */
}

.home-button:hover {
background-color: #5b4a5d; /* Color de fondo al pasar sobre el botón */
}

.texto3{
  position: absolute; /* Posicionamiento absoluto */
  top: 240%; /* Alinea la parte superior del título al centro verticalmente */
  left: 30%; /* Ajusta la posición desde el borde izquierdo */
  transform: translateY(-50%); /* Centra verticalmente el título */
  width: 40%; /* Ancho de la imagen */
  padding-bottom: 20%; 
  }
