:root {
  font-family: Pistilli, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242e47;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

body {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242e47;
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.portada_container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.portada_image {
  max-width: 90%;
  height: auto;
}
.thumbnails_container {
  display: flex;
  flex-wrap: nowrap; /* Evita que las miniaturas se desborden a la siguiente línea */
  justify-content: space-between;
  margin: 20px 0;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}
.thumbnail_wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Añadir transición para el efecto de escala */
}
.thumbnail_image {
  flex: 0 0 auto; /* Mantén las miniaturas en una sola fila */
  max-width: 130px; /* Ajusta el ancho según tus necesidades */
  height: auto;
}
/*.thumbnails_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }

  .thumbnail_image {
    flex: 1 0 9%; /* Aproximadamente 1/11 del ancho, ajusta si es necesario 
    max-width: 130px;
    height: auto;
  }
*/

.thumbnail_wrapper:hover {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el mouse */
}

.preview_container {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona la vista previa debajo de las miniaturas */
  left: 50%; /* Centra horizontalmente la vista previa */
  transform: translateX(-50%); /* Ajusta la posición horizontal */
  z-index: 1000;
  pointer-events: none; /* Evita que la vista previa bloquee eventos */
  display: none; /* Inicialmente oculta la vista previa */
}

.preview_container img {
  max-width: 200px; /* Ajusta el tamaño de la vista previa según tus necesidades */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: none; /* Evita que la vista previa bloquee eventos */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5); /* Inicialmente reduce el tamaño y la opacidad */
}
.intro {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Espacio superior opcional */
}

h1 {
  font-family: 'Times New Roman', Times, serif; /* Fuente específica para el título */
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio inferior del título */
}

img {
  max-width: 60%; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción original de la imagen */
  margin-top: 20px; /* Espacio superior opcional */
}
.thumbnail_wrapper:hover .preview_container {
  display: block; /* Muestra la vista previa al pasar el mouse */
}

.thumbnail_wrapper:hover .preview_container img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Cambia las propiedades de transformación según sea necesario */
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #181F31;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #000000;
}

.image_container {
position: relative;
width: 100%;
max-width: 1000px;
height: 800px; /* Fijar altura del contenedor */
margin: 20px auto;
background-color: #ffffff; /* Fondo blanco para el contenedor de imágenes */
border: 2px solid #070b0f;
border-radius: 16px;
box-shadow: 4 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
display: flex;
align-items: center; /* Centrar contenido verticalmente */
justify-content: center; /* Centrar contenido horizontalmente */
}


.chart_image {
position: absolute;
max-width: 100%;
height: auto;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.chart_image.active {
  opacity: 1;
}

